Assignment5/Service References/WeatherService/_weatherservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="_weatherservice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar13.fulton.asu.edu/Page1/_weatherservice.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar13.fulton.asu.edu/Page1/_weatherservice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar13.fulton.asu.edu/Page1/_weatherservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://webstrar13.fulton.asu.edu/Page1/_weatherservice.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeatherService_getLatAndLong_InputMessage">
    <wsdl:part name="parameters" element="tns:getLatAndLong" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_getLatAndLong_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLatAndLongResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_getForcast_InputMessage">
    <wsdl:part name="parameters" element="tns:getForcast" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_getForcast_OutputMessage">
    <wsdl:part name="parameters" element="tns:getForcastResponse" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_getLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:getLocation" />
  </wsdl:message>
  <wsdl:message name="IWeatherService_getLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLocationResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeatherService">
    <wsdl:operation name="getLatAndLong">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/getLatAndLong" message="tns:IWeatherService_getLatAndLong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/getLatAndLongResponse" message="tns:IWeatherService_getLatAndLong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getForcast">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/getForcast" message="tns:IWeatherService_getForcast_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/getForcastResponse" message="tns:IWeatherService_getForcast_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeatherService/getLocation" message="tns:IWeatherService_getLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeatherService/getLocationResponse" message="tns:IWeatherService_getLocation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWeatherService" type="tns:IWeatherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getLatAndLong">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/getLatAndLong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getForcast">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/getForcast" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLocation">
      <soap:operation soapAction="http://tempuri.org/IWeatherService/getLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="_weatherservice">
    <wsdl:port name="BasicHttpBinding_IWeatherService" binding="tns:BasicHttpBinding_IWeatherService">
      <soap:address location="http://webstrar13.fulton.asu.edu/Page1/_weatherservice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>