Assignment5/Service References/NaturalHazardsService/NaturalHazardsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NaturalHazardsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="NaturalHazards">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="latitude" type="xs:double" />
            <xs:element minOccurs="1" maxOccurs="1" name="longitude" type="xs:double" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="NaturalHazardsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="NaturalHazardsResult" type="xs:double" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="NaturalHazardsServiceInterface_NaturalHazards_InputMessage">
    <wsdl:part name="parameters" element="tns:NaturalHazards" />
  </wsdl:message>
  <wsdl:message name="NaturalHazardsServiceInterface_NaturalHazards_OutputMessage">
    <wsdl:part name="parameters" element="tns:NaturalHazardsResponse" />
  </wsdl:message>
  <wsdl:portType name="NaturalHazardsServiceInterface">
    <wsdl:operation name="NaturalHazards">
      <wsdl:input wsaw:Action="http://tempuri.org/NaturalHazardsServiceInterface/NaturalHazards" message="tns:NaturalHazardsServiceInterface_NaturalHazards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/NaturalHazardsServiceInterface/NaturalHazardsResponse" message="tns:NaturalHazardsServiceInterface_NaturalHazards_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_NaturalHazardsServiceInterface" type="tns:NaturalHazardsServiceInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NaturalHazards">
      <soap:operation soapAction="http://tempuri.org/NaturalHazardsServiceInterface/NaturalHazards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NaturalHazardsService">
    <wsdl:port name="BasicHttpBinding_NaturalHazardsServiceInterface" binding="tns:BasicHttpBinding_NaturalHazardsServiceInterface">
      <soap:address location="http://webstrar13.fulton.asu.edu/Page5/NaturalHazards.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>